<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY4Cukvpzn-9ccgEnEK18Y2B78A32T9l-Oet_pn7ENzg&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Rroan</h5>
                          <p class="card-text">Id:8970</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsIaOX7XGgArsLy7Nm9XYVMzeZKw3VfCDB8upTPR20dk4uftJOfqM8v8VVvxiCYSiJv9Y&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Adithyan</h5>
                          <p class="card-text">Id:7865</p>
                         
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbjaQKmcjuCvBJYCQYNDwYpyKQn3O8NHxdLLKyZwEhveZlBPnPSf8nHOZcP1jbjGmyQjQ&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Abhiram</h5>
                          <p class="card-text">Id:2345</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyhgDCp9fgE-wAfpHxFnMIub5ZYrAkyIj4hz7AQCbkRtt5sewbpZ68ni403LprkB5SQr4&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Abhiraj</h5>
                          <p class="card-text">Id:9845</p>
                        </div>
                    </div>
                </div>
                          <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card" style="width: 18rem;">
                                <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTpmbXbdEa-IqW0GLwqlTldAR0XWYHqMMD1URA0vU2c8rm7yqAanJxZ1uRyLy-Xqmq5vY&usqp=CAU" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Aju</h5>
                                  <p class="card-text">Id:3345</p>
                                </div>
                                </div>
                          </div>
                                  <div class="card" style="width: 18rem;">
                                    <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKbi-0ppnJWvIe802k7fx4H2YOfGkZUI8CL2GXRAW-lRyReATF74xdVSWGqdU9QM1dRsU&usqp=CAU" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Shanker</h5>
                                      <p class="card-text">Id:2145</p>
                                    </div>
                                     </div>
                                </div>
                </div>
                
            </div>
        </div>

